<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/home.css">
    <title>MCQ Whizz - Home</title>
</head>

<body>
    <header>
        <div class="logo-container">
            <img src="C:\Users\ASUS\OneDrive\Desktop\M340i\Documents\Beta_logo.png" alt="MCQ Whizz Logo" id="logo">
        </div>
        <div class="button-container">
            <button class="header-button" onclick="animateButton(this)">Leaderboard</button>
            <button class="header-button" onclick="animateButton(this)">Progress</button>
        </div>
    </header>
    <section class="home-container">
        <h2>Hi, Ayaan!</h2>

        <div class="subject-icons">
            <div class="subject">
                <p>Physics</p>
                <img src="C:\Users\ASUS\OneDrive\Desktop\M340i\Documents\Physics_icon.png" alt="Physics">
            </div>
            <div class="subject">
                <p>Chemistry</p>
                <img src="C:\Users\ASUS\OneDrive\Desktop\M340i\Documents\Chem_icon.png" alt="Chemistry">
            </div>
            <div class="subject">
                <p>Biology</p>
                <img src="C:\Users\ASUS\OneDrive\Desktop\M340i\Documents\Bio_icon.jpg" alt="Biology">
            </div>
            <div class="subject">
                <p>Economics</p>
                <img src="C:\Users\ASUS\OneDrive\Desktop\M340i\Documents\Econs icon.webp" alt="Economics">
            </div>
        </div>
    </section>
</body>

</html>