/* Add your CSS styles for the Home page here */
/* Feel free to customize based on your theme */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #800000, #FF0000, #FFA500, #BDB76B, #66CDAA, #00FFFF, #FF69B4);
    background-size: 200% 100%;
    animation: gradientAnimation 8s infinite alternate;
    transition: background-position 5s ease;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 0%;
    }
}

header {
    background-color: #4CAF50;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container img {
    max-height: 50px; /* Adjust the size as needed */
}

.button-container {
    display: flex;
    flex-direction: column; /* Arrange buttons vertically */
    gap: 10px; /* Spacing between buttons */
}

.header-button {
    background-color: #fff;
    color: #4CAF50;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease; /* Smooth transition */
}

.header-button:hover {
    background-color: #4CAF50;
    color: #fff;
}

main {
    padding: 20px;
}

h2 {
    font-size: 24px; /* Larger font size */
    color: #4CAF50; /* Green color for headings */
    margin-bottom: 20px; /* Spacing between headings and buttons */
}

.chapter-list {
    list-style-type: none;
    padding: 0;
    text-align: center; /* Center unit headings */
}

.chapter-list-item {
    margin-bottom: 20px; /* Spacing between units */
}

.chapter-list-item button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px; /* Larger font size for buttons */
    transition: all 0.3s ease; /* Smooth transition */
}

.chapter-list-item button:hover {
    background-color: #fff;
    color: #4CAF50;
}