/* Add your CSS styles for the Home page here */
/* Feel free to customize based on your theme */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #800000, #FF0000, #FFA500, #BDB76B, #66CDAA, #00FFFF, #FF69B4);
    background-size: 200% 100%;
    animation: gradientAnimation 8s infinite alternate;
    transition: background-position 5s ease;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 0%;
    }
}

.maintenance-container {
    text-align: center;
}

h1 {
    color: #333;
}

p {
    color: #666;
    font-size: 18px;
}